Source: siduction-art-ridersonthestorm
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
XSBC-Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 9),
    inkscape,
    imagemagick,
    perl,
    perlmagick,
    libxml-parser-perl,
    fonts-droid
Standards-Version: 3.9.3
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git


## GNOME ARTWORK ##
#Package: siduction-art-gdm-ridersonthestorm
#Architecture: all
#Provides: siduction-art-gdm
#Depends: ${misc:Depends},
#		 gdm
#Description: GDM theme for siduction 12-2.0 release
# release specific artwork theme for the GDM display manager to be used in
# combination GTK2 based desktop environments like Xfce or LXDE.
# .
# GDM artwork for: siduction 12-2.0 (Riders-On-The-Storm)
# .
# This package does not override existing theme configurations and needs to be
# selected manually.


## KDE ARTWORK ##
Package: siduction-art-kde-ridersonthestorm
Architecture: all
Depends: ${misc:Depends},
 siduction-art-ksplash-ridersonthestorm,
 siduction-art-kdm-ridersonthestorm
Recommends: siduction-art-wallpaper-ridersonthestorm,
 dmz-cursor-theme
Provides: siduction-art-kde
Description: KDE theme for the siduction 12-2.0 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: siduction 12-2.0 (Riders-On-The-Storm)

Package: siduction-art-kdm-ridersonthestorm
Architecture: all
Depends: ${misc:Depends},
 kdm
Provides: siduction-art-kdm
Description: KDM theme for the siduction 12-2.0 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: siduction 12-2.0 (Riders-On-The-Storm)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-ksplash-ridersonthestorm
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Provides: siduction-art-ksplash
Description: KDE ksplash theme for the siduction 12-2.0 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: siduction 12-2.0 (Riders-On-The-Storm)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

## LXDE-ARTWORK ###


### NOX-ARTORK ###


## RAZOR-QT ARTWORK ##
Package: siduction-art-rqt-ridersonthestorm
Architecture: all
Depends: ${misc:Depends},
 lightdm-gtk-greeter 
Provides: siduction-art-rqt
Description: Razor-Qt artwork for the siduction 12-2.0 release
 release specific Razor-Qt artwort.
 .
 Razor-Qt artwork for: sidcution 12-2.0 (Riders-On-The-Storm)

## XFCE ARTWORK ##
Package: siduction-art-xfce-ridersonthestorm
Architecture: all
Depends: ${misc:Depends},
 lightdm-gtk-greeter 
 siduction-art-xsplash-ridersonthestorm,
 siduction-art-wallpaper-ridersonthestorm,
 dmz-cursor-theme
Provides: siduction-art-xfce
Description: Xfce theme for the siduction 12-2.0 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: siduction 12-2.0 (Riders-On-The-Storm)

Package: siduction-art-xsplash-ridersonthestorm
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Provides: siduction-art-xsplash
Description: Xfce splash theme for the siduction 12-2.0 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: sidcution 12-2.0 (Riders-On-The-Storm)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

## COMMON WALLPAPERS ##
Package: siduction-art-wallpaper-ridersonthestorm
Architecture: all
Provides: siduction-art-wallpaper
Depends: ${misc:Depends}
Description: siduction wallpaper for the 12-2.0 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: siduction 12-2.0 (Riders-On-The-Storm)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

